body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

    margin: 0;
    padding: 0;
    height: 100vh;

    --bg-grey: #f8f9fa;
    --btn-color: #596D48;
}

.hero-section {
    display: grid;
    grid-template-columns: 40vw 60vw;

    margin: 0;
    padding: 0;
}

.left-child {
    padding: 0;
    margin: 0;
}

.logo-container {
    position: absolute;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.665);

    width: 40vw;
    height: 15vh;

    display: flex;
    flex-direction: row;
    gap: 8px;
    
    justify-content: center;

    padding: 12px 0 12px 0;
}

.odin-image {
    width: 102px;
}

.logo-text {
    display: flex;
    align-items: center;

    color: white;
    font-size: 64px;
    font-family: Cambria, Cochin, 
    Georgia, Times, 'Times New Roman', 
    serif;
    letter-spacing: 3px;
}

.leaves-image {
    width: 40vw;
    height: 100vh;
}

.right-child {
    display: flex;
    flex-direction: column;

    padding: 15vh 0 15vh 0;
    background-color: var(--bg-grey);
}

.text-container {
    display: flex;
    flex-direction: column;

    padding: 0 156px 0 48px;
    margin: 0;

}

.intro-3 {
    padding: 32px 0 48px 0;
}

.form-container {
    display: flex;
    flex-direction: column;

    padding: 24px 0 24px 0;
    background-color: white;
    box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.21);
}

.form-p1 {
    padding: 0 92px 16px 48px;
}

.form-child-grid {
    display: flex;
    flex-direction: row;

    padding: 0 0 0 48px;
    margin: 0;
    gap: 72px;
}

.fcg-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fcg-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fcg-child {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.account-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    
    margin: 0;
    padding: 32px 0 0 48px;
}

.link-text {
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

label {
    font-size: 14px;
    color: rgb(45, 51, 64);

    letter-spacing: 1px;
}

input {
    padding: 4px 112px 4px 6px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

span {
    font-style: italic;
}

button {
    background-color: var(--btn-color);
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-size: 16px;

    padding: 10px 32px 10px 32px;
    box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.21);
}

a {
    text-decoration: none;
    color: rgb(29, 67, 67);
}
