body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

    margin: 0;
    padding: 0;
    height: 100vh;
}

.hero-section {
    display: grid;
    grid-template-columns: 40vw 60vw;

    margin: 0;
    padding: 0;
}

.left-child {
    padding: 0;
    margin: 0;
}

.right-child {
    display: flex;
    flex-direction: column;

    padding: 18vh 0 18vh 0;
}

.text-container {
    display: flex;
    flex-direction: column;

    padding: 0 92px 0 32px;
    margin: 0;

}

.intro-2 {
    padding: 32px 0 64px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-p1 {
    padding: 0 92px 0 32px;
}

.form-child-grid {
    display: flex;
    flex-direction: row;

    padding: 0 0 0 32px;
    margin: 0;
    gap: 64px;
}

img {
    width: 40vw;
    height: 100vh;

    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}